*{
    margin:0px;
    padding:0px;

}
body{
    overflow-x: hidden;
    display:grid;
    grid-template-columns: [page-start] 5vw [nav-start] 90vw [nav-end] 5vw [page-end] ;
    grid-template-rows: [head-start] 20vh [navi-start] 50px [head-end] 50px [navi-end] auto [ban-end] auto [eng-end] auto [foot-end];
}

header{
    grid-column:page-start/page-end;
    grid-row:head-start/head-end;
    background-color: rgb(12, 1, 34);
    color:white;
    text-align: center;
    h1{
        margin-top:6vh;
    }
    font-family:'Courier New', Courier, monospace;
    
}

.nav{
    grid-column: nav-start/nav-end;
    grid-row:navi-start/navi-end ;
    background-color: rgb(50, 50, 49);
    display:flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content:space-around; 
    font-family: 'Courier New', Courier, monospace;
}
.nav a{
    text-decoration: none;
    color:aqua;
    text-align: center;
}

.literature-ban{
    grid-column:page-start/page-end;
    grid-row:navi-end/ban-end;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:15px;
    justify-content:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:30px;
    margin-bottom:30px;
}

.ban-design{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:300px;
    border-radius: 4px;
    box-shadow: 0 0 2px black;
    overflow: hidden;


}
.heading h1{
    margin-top:10px;
    color:rgb(2, 31, 31);
    padding:10px;
    font-size: 1em;;
}
.design{
    display:flex;
    width:200px;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: rotate(45deg);
    gap:27px;
}
.bar-1{
    height:200px;
    width:40px;
    background-color: blue;
    margin-top:auto;
    margin-bottom:auto;

}
.bar-2{
    height:400px;
    width:40px;
    background-color: red;
}

.bar-3{
    height:230px;
    width:40px;
    background-color: blue;
    margin-top:5.199px;
    transform: rotate(90deg);

}
.bn-1{
    
    box-shadow: 0 0 2px black;
    padding:10px;
    border-radius: 4px;
    text-align: center;
    h1{
        margin-bottom: 3px;
    }
    background-color: rgba(250, 235, 215, 0.5);

}

.bn-2{
    width:400px;
    box-shadow: 0 0 2px black;
    padding:10px;
    border-radius: 4px;
    text-align: center;
    h1{
        margin-bottom: 3px;
        text-align: center;
    }
    background-color: rgba(250, 235, 215, 0.5);

}



footer{
    grid-column:page-start/page-end;
    grid-row:eng-end/foot-end;
    text-align: center;
    padding: 4vh;
    background-color:rgb(12, 1, 34) ;
    color:rgb(92, 21, 21);
    margin-top:40px;
    
}

@media only screen and (max-width: 600px){
    .bn-1,.bn-2, .ban-design{
        
        width:300px;
        box-shadow: 0 0 2px black;
        padding:10px;
        border-radius: 4px;
    
        h1{
            margin-bottom: 3px;
        }
    }
    header h1{
        font-size:2em;
    }
    .nav{
        font-size:0.6em;
    }
    footer{
        font-size:0.8em;
    }
}



