*{
    margin:0px;
    padding:0px;
}

body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 35vh auto auto auto;
    grid-template-areas: "head" "line" "info" "footer";
}

header{
    grid-area: head;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(15%2c 15%2c 15%2c 1)'%3e%3c/rect%3e%3cpath d='M1156.97 266.71 a28.26 28.26 0 1 0 56.52 0 a28.26 28.26 0 1 0 -56.52 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M918.44 356.58a41.92 41.92 0 1 0 66.22 51.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1037.39 305.53 a15.63 15.63 0 1 0 31.26 0 a15.63 15.63 0 1 0 -31.26 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M67.27 43.4a28.66 28.66 0 1 0 6.95 56.9z' fill='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M691.6 496.42L742.32 496.42L742.32 547.14L691.6 547.14z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M219.71 25.19L229.07 25.19L229.07 69.84L219.71 69.84z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1179.32 407.62L1199.99 407.62L1199.99 428.29L1179.32 428.29z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1174.26 45.41 a9.23 9.23 0 1 0 18.46 0 a9.23 9.23 0 1 0 -18.46 0z' stroke='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M1402.52 303.64a0.28 0.28 0 1 0 0.24-0.5z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M790.14 522.42 a12.09 12.09 0 1 0 24.18 0 a12.09 12.09 0 1 0 -24.18 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1096.52 453.35L1100.3 453.35L1100.3 499.23L1096.52 499.23z' fill='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M80.88 375.17a15.75 15.75 0 1 0 3.49 31.3z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M147.18 55.87 a2.72 2.72 0 1 0 5.44 0 a2.72 2.72 0 1 0 -5.44 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M937.22 181.32a41.54 41.54 0 1 0-38.31-73.72z' stroke='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M236.74 208.86 a37.29 37.29 0 1 0 74.58 0 a37.29 37.29 0 1 0 -74.58 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1415.82 515.11L1451.46 515.11L1451.46 550.75L1415.82 550.75z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M740.95 503.54 a45.06 45.06 0 1 0 90.12 0 a45.06 45.06 0 1 0 -90.12 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1186.82 3.06 a34.48 34.48 0 1 0 68.96 0 a34.48 34.48 0 1 0 -68.96 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1073.63 374.91L1119.58 374.91L1119.58 402.26L1073.63 402.26z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M193.45 368.92 a31.84 31.84 0 1 0 63.68 0 a31.84 31.84 0 1 0 -63.68 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1073.47 548.57L1126.9 548.57L1126.9 581.74L1073.47 581.74z' stroke='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M824.42 43.2 a47.9 47.9 0 1 0 95.8 0 a47.9 47.9 0 1 0 -95.8 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1391.02 28.5L1431.68 28.5L1431.68 70.47L1391.02 70.47z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M376.58 19.66a14.66 14.66 0 1 0-27.35 10.57z' stroke='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M1158.13 339.4 a31.04 31.04 0 1 0 62.08 0 a31.04 31.04 0 1 0 -62.08 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M234.89 331.95L285.35 331.95L285.35 363.6L234.89 363.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1156.95 556.2 a16.12 16.12 0 1 0 32.24 0 a16.12 16.12 0 1 0 -32.24 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1350.01 490.24a46.76 46.76 0 1 0 21.35-91.05z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M251.15 266.13L258.84 266.13L258.84 273.82L251.15 273.82z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1044.42 292.49 a4.06 4.06 0 1 0 8.12 0 a4.06 4.06 0 1 0 -8.12 0z' stroke='rgba(34%2c 45%2c 161%2c 1)'%3e%3c/path%3e%3cpath d='M215.06 474.63 a23.88 23.88 0 1 0 47.76 0 a23.88 23.88 0 1 0 -47.76 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M979.06 278L987.39 278L987.39 286.33L979.06 286.33z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1109.46 291.04 a32.39 32.39 0 1 0 64.78 0 a32.39 32.39 0 1 0 -64.78 0z' stroke='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
header img{
    width:100vw;
    height:35vh;
    filter:blur(2px);
}

header h1{
    position:absolute;
    color:aqua;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.line{
    grid-area: line;
    background-color: rgb(1, 1, 32);
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color:azure;
    text-align: center;
}

.info{
    grid-area: info;
    display:flex;
    flex-direction: column;
    margin:20px auto 50px auto;
    max-width: 800px;
    justify-content: center;
    gap:12px;

    
}

@media screen and (max-width: 800px) {
    header h1 {
    font-size: 1.2em;
    }
    
    }

.speci-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px rgb(16, 16, 16);
    box-shadow: 0px 0px 2px rgb(16, 16, 16);
    padding: 10px;
    width:300px;
    border-radius: 4px;
    font-family:'Courier New', Courier, monospace;
    
}
.speci-info:hover{
    color:rgb(34, 23, 198);
    box-shadow: 0 0 4px black;
}
footer{
    grid-area: footer;
    background-color: rgb(1, 1, 32,0);
    padding: 20px;
    color:rgb(92, 21, 21);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}