*{
    margin:0px;
    padding:0px;
}
body{
    width:100%;
    display:grid;
    grid-template-rows: 40vh auto auto auto auto;
    grid-template-columns:5% 35% 55% 5% ;
    grid-template-areas: "header header header header"
    "navbar navbar navbar navbar"
    ". picture  intro ."
    ". shortcut shortcut ."
    "footer footer footer footer";
}




header{
    grid-area: header;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
header .name{
    color:white;
    font-family:'Courier New', Courier, monospace ;
    position: absolute; 
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size: 2em;
    font-weight: 600;
}
header img{
    width:100%;
    height:100%;
    filter:blur(1px);
}
.l{
    color:red;
}



.picture{
    margin-top:90px;
    grid-area: picture;
    img{
        width:30vw;
        height:36vh;
        
        border-radius: 4px;

    }
}
.intro{
    grid-area:intro;
    width:55vw;
    margin: 80px 40px 20px -50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    padding:10px;
    text-align: center;
    margin-bottom:auto;
  
}
.intro h1{
    margin-bottom:10px;
    font-family:'Courier New', Courier, monospace;
    color:brown;
}

@media only screen and (max-width: 1000px) {
    .intro p{
        font-size:0.8em;
        font-weight: 500;
    }
    .intro h1{
        font-size:1.2em;
        text-align: center;
    }
    .intro{
        margin-left:0;
    }
}
.shortcut{
    grid-area:shortcut;
    height:500px;
    margin-top:40px;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows:60px 70px 260px 70px 60px;
    
}


.shortcut-1{
    grid-column:1/2;
    grid-row:3/4;
    margin:0 8px 0 8px;
    background-color: rgb(233, 252, 252,0.2);
    box-shadow: 0 0 2px black;
    border-radius: 4px;

}
.ex{
    margin-top:115px;
    margin-left:4%;
    display: flex;
    flex-direction: row;
    h1{
        text-align: center;
        margin-top:auto;
        margin-bottom:auto;
        font-size:1em ;
        font-family: 'Courier New', Courier, monospace;
    }
    
    
    }

.ex img{
    
    height:30px;
    width:30px;
    margin:auto;
   
}



.shortcut-2{
    grid-column:2/3;
    grid-row:2/5;
    margin:0 8px 0 8px;
    background-color: rgb(233, 252, 252,0.2);
    box-shadow: 0 0 2px black;
    border-radius: 4px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    h2{
        font-family: 'Courier New', Courier, monospace;
        margin-top:auto;
        font-size:1em;
        margin-left:auto;
        margin-right:auto;
        color:rgb(26, 3, 3);
    }
    a{
        text-decoration: none;
        color:black;
    }
    
}
.shortcut-3{
    grid-column:3/4;
    grid-row:3/4;
    margin:0 8px 0 8px;
    background-color: rgb(233, 252, 252,0.2);
    box-shadow: 0 0 2px black;
    border-radius: 4px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    h2{
        font-family: 'Courier New', Courier, monospace;
        margin-top:auto;
        font-size:1em;
        margin-left:auto;
        margin-right:auto;
        color:rgb(26, 3, 3);
    }
    a{
        text-decoration: none;
        color:black;
    }
    
}

.shortcut-5{
    grid-column:5/6;
    grid-row:3/4;
    margin:0 8px 0 8px;
    background-color: rgb(233, 252, 252,0.2);
    box-shadow: 0 0 2px black;
    border-radius: 4px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    h2{
        font-family: 'Courier New', Courier, monospace;
        margin-top:auto;
        font-size:1em;
        margin-left:auto;
        margin-right:auto;
        color:rgb(26, 3, 3);
    }
    a{
        text-decoration: none;
        color:black;
    }
    
}

.bar-1{
    width:40%;
    height:100px;
    margin:auto;
    border-radius: 4px;
    img{
        width:100%;
        border-radius:4px;
        filter: blur(1px);
    }
}

.bar-2{

    width:60%;
    padding:10px;
    background-color: rgba(0, 255, 255, 0.365);
    margin: 15px auto 40px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 4px;
    box-shadow: 0 0 2px black;
    h3{
        font-family:'Courier New', Courier, monospace;
        font-size: 0.8em;
    }
    img{
        margin-left:5px;
        width:15px;
        height:15px;
        margin-top:auto;
        margin-bottom:auto;
    }

}

.bar-2:hover{
    background-color:rgba(0, 255, 255, 0.4) ;
    img{
        margin-left:8px;
    }
}


.shortcut-4{
    grid-column:4/5;
    grid-row:2/5;
    margin:0 8px 0 8px;
    background-color: rgb(233, 252, 252,0.2);
    box-shadow: 0 0 2px black;
    border-radius:4px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    h2{
        font-family: 'Courier New', Courier, monospace;
        margin-top:auto;
        font-size:1em;
        margin-left:auto;
        margin-right:auto;
        color:rgb(26, 3, 3);
    }
    a{
        text-decoration: none;
        color:black;
    }
    
}
.shortcut-1:hover,.shortcut-2:hover,.shortcut-3:hover,.shortcut-4:hover,.shortcut-5:hover{
    background-color: rgb(233, 252, 252,0.5);
    box-shadow: 0 0 4px black;
}
footer{
    grid-area:footer;
    padding: 40px;
    text-align: center;
    background-color: rgb(1, 1, 32);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:20px;
}

.contact-via{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:rgb(64, 63, 63);
    gap:20px;
}
.copyright{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(92, 21, 21);
}
.contact{
    list-style: none;
    text-align: left;
    margin-top:20px;
    margin-bottom:30px;
}
.contact .name{
    margin-bottom:15px;
    color:aqua;
}

.location{
    text-align: left;
    margin-top:20px;
    margin-bottom:30px;
}
.location p{
    color:aqua;
    margin-bottom:15px;
}

@media only screen and (max-width: 700px) {
    .picture{
        margin-top: 20px;
    }

   .picture img{
    height:200px;
    width:90vw;
   }

   .intro{
    margin:230px -38vw ;
    width:93vw;
   }
   .intro p{
    font-weight: 500;
   }


    header .name {
    font-size:1.5em;
    gap:12px;
    }

    .intro p{
        font-size:0.8em;
    }
    .intro h1{
        font-size: 1.4em;
    }
    .navbar li{
        font-size:0.6em;
        font-weight: 600;
    }
    .sample p{
        font-size: 0.6em;
    }
    .contact-via, .copyright{
        font-size:0.8em;
    }




.shortcut{
        grid-area:shortcut;
        height:500px;
        margin-top:-150px;
        display:grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-template-rows:60px 70px 10px 70px 180px 70px 60px;
        margin-bottom:100px;
    }
    
.empty-space{
        grid-column:1/3;
        grid-row:1/2;
        margin:-40px 8px 70px 8px;
        background-color: rgb(233, 252, 252,0.2);
        box-shadow: 0 0 2px black;
        border-radius: 4px;
    }
.empty-space1{
        grid-column:1/3;
        grid-row:7/8;
        margin:70px 8px -60px 8px;
        background-color: rgb(233, 252, 252,0.2);
        box-shadow: 0 0 2px black;
        border-radius: 4px;
    }
.shortcut-1{
        grid-column:1/3;
        grid-row:1/5;
        margin:0 8px 0 8px;
        border-radius: 4px;
        margin-bottom:-30px;
    
    }
.ex{
        margin-top:105px;
        margin-left:4%;
        display: flex;
        flex-direction: row;
        h1{
            text-align: center;
            margin-top:auto;
            margin-bottom:auto;
            font-size:1em ;
            font-family: 'Courier New', Courier, monospace;
        }
        
        
        }
    
    .ex img{
        
        height:30px;
        width:30px;
        margin:auto;
       
    }
    
    
    
.shortcut-2{
        grid-column:3/5;
        grid-row:1/3;
        margin:-40px 8px -40px 8px;
        border-radius: 4px;
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        h2{
            font-family: 'Courier New', Courier, monospace;
            margin-top:auto;
            font-size:1em;
            margin-left:auto;
            margin-right:auto;
            color:rgb(26, 3, 3);
        }
        a{
            text-decoration: none;
            color:black;
        }
        
    }
.shortcut-3{
        grid-column:3/5;
        grid-row:3/6;
        margin:50px 8px 15px 8px;
        border-radius: 4px;
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        h2{
            font-family: 'Courier New', Courier, monospace;
            margin-top:auto;
            font-size:1em;
            margin-left:auto;
            margin-right:auto;
            color:rgb(26, 3, 3);
        }
        a{
            text-decoration: none;
            color:black;
        }
        
    }
    
.shortcut-5{
        grid-column:1/3;
        grid-row:5/7;
        margin:40px 8px -60px 8px;
        border-radius: 4px;
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        h2{
            font-family: 'Courier New', Courier, monospace;
            margin-top:auto;
            font-size:1em;
            margin-left:auto;
            margin-right:auto;
            color:rgb(26, 3, 3);
        }
        a{
            text-decoration: none;
            color:black;
        }
        
    }
    
.bar-1{
        width:40%;
        height:100px;
        margin:auto;
        margin-top:15px;
        border-radius: 4px;
        img{
            width:100%;
            height:60px;
            border-radius:4px;
            filter: blur(1px);
        }
    }
    
.bar-2{
    
        width:60%;
        padding:10px;
        background-color: rgba(0, 255, 255, 0.365);
        margin: 15px auto 40px auto;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 4px;
        box-shadow: 0 0 2px black;
        h3{
            font-family:'Courier New', Courier, monospace;
            font-size: 0.8em;
        }
        img{
            margin-left:5px;
            width:15px;
            height:15px;
            margin-top:auto;
            margin-bottom:auto;
        }
    }
    
.bar-2:hover{
        background-color:rgba(0, 255, 255, 0.4) ;
        img{
            margin-left:8px;
        }
    }
.shortcut-4{
        grid-column:3/5;
        grid-row:6/8;
        margin:-5px 8px -60px 8px;
        
        border-radius:4px;
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        h2{
            font-family: 'Courier New', Courier, monospace;
            margin-top:auto;
            font-size:1em;
            margin-left:auto;
            margin-right:auto;
            color:rgb(26, 3, 3);
        }
        a{
            text-decoration: none;
            color:black;
        }
        
    }
}